{% extends 'base.html' %}
{% block content%}


<div class="container">
    <title> About Us </title>
    <h1> About Us </h1>
    <br>
    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnb4UFdErtR_XnAS2rXpvjWauQEOFrIdqcQA&usqp=CAU" width="500">
    <br>
    <br>
    <p>Bi-Sori is a web-platform that contains rainsound designed by Aze, Ulfah and Yousof.</p>
    <p>In here, you can listen and get information on the rainsound that was send by others.</p>
    <p>Feel free to join us and send your rainsound too via our mobile apps!</p>


    <br>
    

</div>

{% endblock%}