{% extends 'base.html' %}
{% block content%}

    <div class="container">
        <h1>Successfully uploaded!</h1><br>
        <small>Thank you for choosing our platform.</smal><br>
        <small>Your rainsound is very precious to us as much as it is to you.</small><br>
        <small>We are happy to let you know that many will feel comfortable and calmer when listening to your rainsound soon!</small><br>
        <small>Thank you again, and have a good day ahead!</small>
    </div>



{% endblock%}