{%extends 'base.html' %}
{% block content %}

<div class="container">
    <title> Database </title>
    <h1> Bi-Sori Database </h1>

      
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "/database" enctype="multipart/form-data" method = "post">
         <div class="form-group">
            <label for="inputFile"></label>
            <input type = "file" name = "inputFile"  /><br>
         </div>
         <br>
         <input type = "submit" value = "Upload" />
      </form>

      <br></br>

         {{ table }}


</div>

{% endblock %}