{% extends 'base.html' %}
{% block content%}


<div class="container">
    <title> Explore </title>
    <h1><i> Explore more rainsound </h1></i><br>
    <p>This page contains all rainsounds send by our users from all around the world.</p>
    
    
    <form action = "/explore" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <input type = "text" class = "form-control" 
            name = "search" placeholder= "Search by file name or location" />
        </div>
          <input type = "submit" value = "Search" />
        
        </form>
<br>
<p>Click View to listen, download and know more about the sound.</p> 
<table id="example" class="table table-striped" style="width:100%">
    <thead>
      
      <style>
          
          th
          {
              background-color: rgb(65, 65, 172);
              border: 1px solid #fff;
              border-collapse: collapse;
              padding: 10px;
              font-size:16px;
              color: #fff; 
              text-align: left;
          }

          table,  td
          {
              background-color: rgb(198, 202, 248);
              border: 1px solid #fff;
              border-collapse: collapse;
              padding: 10px;
              font-size:16px;
              text-align: left;
          }

      </style>
  </thead>
  <tbody>
     
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

      {{ table1 | safe }}

  </tbody>
</table>
 <br></br>

    




</div>




{%- for category, message in get_flashed_messages(with_categories = true) %}
<div class = "alert alert-danger">
   {{ message }}
</div>
{%- endfor %}
{% endblock%}