{% extends 'base.html' %}
{% block content%}


<div class="container">
</br>
<audio controls="controls" autoplay="autoplay" ></audio>
<u1>
    

    <li><a href="javascript:void(0);" onclick="playSong('{{playlist}}')">{{playing}}</a></li>

    <img src = "{{ image_display }}" allign = "middle" />
    
</u1>

{%- for category, message in get_flashed_messages(with_categories = true) %}
   <div class = "alert alert-danger">
      {{ message }}
   </div>
{%- endfor %}
<script type="text/javascript">
   function playSong(playlist){
       $('audio').attr('src', playlist)
   }

</script>

<br></br>


  </div>
{% endblock%}


